# Environment variables
# GF_SECURITY_ALLOW_EMBEDDING - from Dockerfile
GF_SECURITY_ALLOW_EMBEDDING="false"
# GF_SERVER_HTTP_PORT - from Dockerfile
GF_SERVER_HTTP_PORT="3000"
# GF_PATHS_DATA - from Dockerfile
GF_PATHS_DATA="/var/lib/grafana"
# GF_PATHS_LOGS - from Dockerfile
GF_PATHS_LOGS="/var/log/grafana"
# GF_PATHS_PLUGINS - from Dockerfile
GF_PATHS_PLUGINS="/var/lib/grafana/plugins"
# GF_PATHS_PROVISIONING - from Dockerfile
GF_PATHS_PROVISIONING="/etc/grafana/provisioning"
# Grafana admin credentials (required since v12 / June 2025)
# https://grafana.com/docs/grafana/latest/setup-grafana/configure-docker/running-in-container/#first-time-login-user
GF_SECURITY_ADMIN_USER="admin"
GF_SECURITY_ADMIN_PASSWORD=""